### Server ###
PORT="8080"

### Client ###
FRONTEND_URL="http://localhost:3000"
FRONTEND_RESET_PASSWORD_URL="http://localhost:3000/password/reset" # + ?t=<T>&c=<C>

### Database ###
# PostgreSQL connection URL
PG_URL="postgresql://user:pass@localhost:5432/auth_db"
# Redis connection URL
REDIS_URL="redis://token@localhost:6379" # redis

### Utils ###
# sqlx-migrator only
DATABASE_URL="postgresql://user:pass@localhost:5432/auth_db"

### Other ###
# used for JWT signing
SECRET="secret_word"

### Feature flags ###
# set to "true" to require email_sender confirmation after sign up
REQUIRE_EMAIL_CONFIRMATION="true"
# set to "true" to enable changing email_sender functionality
ENABLE_EMAIL_RESET="true"

### Email ###
# "debug", "smtp", "rabbitmq", "server"
EMAIL_SENDER_TYPE="debug"
# 1. if you selected debug, you don't need nothing to configure for it
# 2. if you selected smtp, enter smtp config:
SMTP_URL="smtp://user:pass@hostname:port?tls=required"

# 3. if you selected rabitmq, enter rabitmq config:
RABITMQ_MESSAGE_SERVER=""

# 4. if you selected server, enter server adress:
EMAIL_SERVER_URL=""
